* {
	font-family: 'Raleway', sans-serif;
	color: #2d3c49;
	letter-spacing: 2px;
}

h1 {font-size: 2.9em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
p {font-size: 0.89em; letter-spacing: 0ch;}


body {
	margin: 0 auto;
	max-width: 900px;
}

#featured-work .main_title {
	color: #7d97ad;
}

header,
main,
#featured-work .list {
	display: flex;
	flex-wrap: wrap;
}

header,
main section {
	margin: auto 0.5em 1em;
}

/*Header*/
header {
	border-bottom: 7px solid #7d97ad;
	padding: 1.5em 0;
}

#logo img {width: 80px; height: auto;}

#intro h1 { margin: 0 0 0.2em;}

#intro h3 { margin: 0.2em 0 0;}

#teclado img {
	width: 100%;
}

/*Content*/
#featured-work {
	margin: auto 0 auto;
}

#featured-work > .title, .main_title {
	margin: 0 0 0.5em 0.5em ;
}

#featured-work .list .title {
	text-align: center;
}
#featured-work .list .item {
	margin-bottom: 1.4em;
}

#featured-work .list .item .title {
	margin: 0.4em 0 0.2em;
}

#featured-work .list .item img {
	width: 100%;
}

#featured-work .list .item p {
	text-align: center;
	word-wrap: break-word;
	margin-top: 0.2em;
}

#featured-work .list .item > div {
	padding: 0 0.5em;
}
