@media screen and (max-width: 719px) {
	/*Header*/
	#logo {
		width: 100%;
		order:0;
		text-align: center;}
	#intro {
		width: 100%;
		order: 1;
		text-align: center;}

	/*Main*/
	#teclado {
		width: 100%;
		 order: 0;}
	#featured-work {
		width: 100%;
		order: 1;}
	#featured-work .list .item {
		width: 100%;}
}

@media screen and (min-width: 720px) {
	/*Header*/
	#logo {
		width: 30%
		;order: 0
		;display: flex
		;align-items: center;}
		
	#intro {
		 width: 70%;
		 order: 1; 
		 text-align: right;}

	/*Main*/
	#teclado {
		width: 100%;
		order: 0;}

	#featured-work {
		width: 100%;
		order: 1;}
	#featured-work .list .item {
		width: 33.3333%;}
}