.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
    
@media screen and (min-width: 900px) {
    .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    }
}

@media screen and (max-width: 550px) {
    
    /* Header */
    header h1 {
        font-size: 1.75rem;
        margin-top: 25px;
    }

    header h3 {
        font-size: 0.75rem;
    }

    /* Featured Work */
    .featured-work h2 {
        font-size: 1.25rem;
    }

    .portfolio {
        width: 100%;
    }

    .portfolio h1 {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 550px) and (max-width: 800px) {

    /* Header */
    header h1 {
        font-size: 1.75rem;
        margin-top: 25px;
    }

    header h3 {
        font-size: 1rem;
    }

    /* Featured Work */
    .featured-work h2 {
        font-size: 1.75rem;
    }

    .portfolio {
        width: 100%;
    }

    .portfolio h1 {
        font-size: 1.75rem;
    }
}